<% include common/header/header %>

          <% if (updated) { %>
            <% if (updated == 1) { %>
              <div class="alert alert-success">Loot item updated</div>
            <% } else { %>
              <div class="alert alert-danger">Unable to update loot item</div>
            <% } %>
          <% } %>

          <form action="/loot/edit" method="POST">

            <div class="form-group">
                <label for="lootType">Type</label>
                <select class="form-control" id="lootType" name="lootType">
                  <% for (var i in loot.lootTypes) {  %>
                    <option <% if(loot.lootContainer.lootType == i) { %>selected="selected"<% } %> value="<%= i %>"><%= loot.lootTypes[i] %></option>
                  <% } %>
                </select>
              </div>

            <div class="form-group">
                <label for="lootLevel">Level</label>
                <select class="form-control" id="lootLevel" name="lootLevel">
                  <% for (var i in loot.lootLevels) {  %>
                    <option <% if(loot.lootContainer.lootLevel == i) { %>selected="selected"<% } %> value="<%= i %>"><%= loot.lootLevels[i] %></option>
                  <% } %>
                </select>
            </div>

            <div class="form-group">
                <label for="lootStatus">Status</label>
                <select class="form-control" id="lootLevel" name="lootStatus">
                  <% for (var i in loot.lootStatuses) {  %>
                    <option <% if(loot.lootContainer.lootStatus == i) { %>selected="selected"<% } %> value="<%= i %>"><%= loot.lootStatuses[i] %></option>
                  <% } %>
                </select>
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <input class="form-control" type="text" name="description" value="<%= loot.lootContainer.description %>">
            </div>

            <div class="form-group">
                <label for="location">Location</label>
                <input class="form-control" type="text" name="location" value="<%= loot.lootContainer.location %>">
            </div>

            <div class="form-group">
              <input type="hidden" name="_id" value="<%= loot.lootContainer._id %>">
              <input class="btn btn-primary" type="submit" value="Submit">
            </div>
          </form>

<% include common/footer/footer %>
