<% include common/header/header %>

    <div class="container">

      <div class="row">
        <div class="twelve columns text-center">
          <a href="/" class="button button-primary">Home</a>
        </div>
      </div>

      <div class="row">
        <div class="twelve column">
          <form action="/loot/edit" method="POST">

            <div class="row">
              <div class="six columns">
                <label for="lootType">Type</label>
                <select class="u-full-width" id="lootType" name="lootType">
                  <% for (var i = 0; i < lootTypes.length; i++) {  %>
                    <option <% if(lootContainer.lootType == lootTypes[i]._id) { %>selected="selected"<% } %> value="<%= lootTypes[i]._id %>"><%= lootTypes[i].name %></option>
                  <% } %>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="six columns">
                <label for="lootLevel">Level</label>
                <select class="u-full-width" id="lootLevel" name="lootLevel">
                  <% for (var i = 0; i < lootLevels.length; i++) {  %>
                    <option <% if(lootContainer.lootLevel == lootLevels[i]._id) { %>selected="selected"<% } %> value="<%= lootLevels[i]._id %>"><%= lootLevels[i].name %></option>
                  <% } %>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="six columns">
                <label for="lootStatus">Status</label>
                <select class="u-full-width" id="lootLevel" name="lootStatus">
                  <% for (var i = 0; i < lootStatuses.length; i++) {  %>
                    <option <% if(lootContainer.lootStatus == lootStatuses[i]._id) { %>selected="selected"<% } %> value="<%= lootStatuses[i]._id %>"><%= lootStatuses[i].name %></option>
                  <% } %>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="six columns">
                <label for="description">description</label>
                <input class="u-full-width" type="text" name="description" value="<%= lootContainer.description %>">
              </div>
            </div>

            <div class="row">
              <div class="six columns">
                <label for="location">location</label>
                <input class="u-full-width" type="text" name="location" value="<%= lootContainer.location %>">
              </div>
            </div>

            <input type="hidden" name="_id" value="<%= lootContainer._id %>">
            <input class="button-primary" type="submit" value="Submit">
          </form>
        </div>
      </div>
    </div>

<% include common/footer/footer %>
