<% include common/header/header %>

        <div class="row">
          <div class="col-xs-4">
            <a href="/loot/add" class="btn btn-primary">Add loot</a>
          </div>
          <div class="col-xs-8 text-right">
            <form class="form-inline" action="/loot" method="GET">

              <div class="form-group">
                <select class="form-control" id="lootType" name="lootType">
                  <option value="">Loot type</option>
                  <% for (i in loot.lootTypes) {  %>
                    <option <% if(filter.lootType == loot.lootTypes[i]) { %>selected="selected"<% } %> value="<%= loot.lootTypes[i] %>"><%= loot.lootTypes[i] %></option>
                  <% } %>
                </select>
              </div>

              <div class="form-group">
                <select class="form-control" id="lootLevel" name="lootLevel">
                  <option value="">Loot level</option>
                  <% for (i in loot.lootLevels) {  %>
                    <option <% if(filter.lootLevel == loot.lootLevels[i]) { %>selected="selected"<% } %> value="<%= loot.lootLevels[i] %>"><%= loot.lootLevels[i] %></option>
                  <% } %>
                </select>
              </div>

              <div class="form-group">
                <select class="form-control" id="lootStatus" name="lootStatus">
                  <option value="">Loot status</option>
                  <% for (i in loot.lootStatuses) {  %>
                    <option <% if(filter.lootStatus == loot.lootStatuses[i]) { %>selected="selected"<% } %> value="<%= loot.lootStatuses[i] %>"><%= loot.lootStatuses[i] %></option>
                  <% } %>
                </select>
              </div>

                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Filter</button>
                  </div>
                </div>

            </form>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">

            <% if (loot.lootContainers.length > 0) { %>

              <% for (var i = 0; i < loot.lootContainers.length; i++) {  %>
              <a href="/loot/edit/<%= loot.lootContainers[i]._id %>">
              <div class="row lootItem <%= loot.lootStatuses[loot.lootContainers[i].lootStatus] %>">
                <div class="col-xs-12">
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="panel
                      <% if (loot.lootStatuses[loot.lootContainers[i].lootStatus] === 'Locked') { %>panel-danger<%} %>
                      <% if (loot.lootStatuses[loot.lootContainers[i].lootStatus] === 'Unlocked') { %>panel-success<%} %>">
                        <div class="panel-heading">
                          <h3 class="panel-title">
                            <%= loot.lootLevels[loot.lootContainers[i].lootLevel] %> <%= loot.lootTypes[loot.lootContainers[i].lootType] %>
                            <span class="label label-default pull-right"><%= loot.lootStatuses[loot.lootContainers[i].lootStatus] %></span>
                          </h3>
                        </div>
                        <div class="panel-body">
                          <div class="row">
                            <div class="col-xs-12">
                              <strong>Description</strong> <%= loot.lootContainers[i].description %>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-xs-12">
                              <strong>Location</strong> <%= loot.lootContainers[i].location %>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </a>
              <% } %>

            <% } else { %>

              <div class="alert alert-info">
                You don't have any loot!
              </div>

            <% } %>
          </div>
        </div>

<% include common/footer/footer %>
