<% include common/header/header %>
    <div class="container">
        <div class="row">
          <div class="four columns">
            <a href="/loot/add" class="button button-primary">Add loot</a>
          </div>
          <div class="eight columns">
            <form action="/loot" method="GET">
              <div class="row">
                <div class="three columns">
                  <select class="u-full-width" id="lootType" name="lootType">
                    <option value="">Loot type</option>
                    <% for (i in lootTypes) {  %>
                      <option value="<%= lootTypes[i] %>"><%= lootTypes[i] %></option>
                    <% } %>
                  </select>
                </div>
                <div class="three columns">
                  <select class="u-full-width" id="lootLevel" name="lootLevel">
                    <option value="">Loot level</option>
                    <% for (i in lootLevels) {  %>
                      <option value="<%= lootLevels[i] %>"><%= lootLevels[i] %></option>
                    <% } %>
                  </select>
                </div>
                <div class="five columns">
                  <input class="button-primary" type="submit" value="Filter">
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="twelve columns">

            <% if (loot.length > 0) { %>

              <% for (var i = 0; i < loot.length; i++) {  %>
              <a href="/loot/edit/<%= loot[i]._id %>">
              <div class="row lootItem <%= lootStatuses[loot[i].lootStatus] %>">
                <div class="twelve column">
                  <div class="row">
                    <div class="twelve column">
                      <strong>Type</strong> <%= lootTypes[loot[i].lootType] %>
                    </div>
                  </div>

                  <div class="row">
                    <div class="twelve column">
                      <strong>Level</strong> <%= lootLevels[loot[i].lootLevel] %>
                    </div>
                  </div>

                  <div class="row">
                    <div class="twelve column">
                      <strong>Status</strong> <%= lootStatuses[loot[i].lootStatus] %>
                    </div>
                  </div>

                  <div class="row">
                    <div class="twelve column">
                      <strong>Description</strong> <%= loot[i].description %>
                    </div>
                  </div>

                  <div class="row">
                    <div class="twelve column">
                      <strong>Location</strong> <%= loot[i].location %>
                    </div>
                  </div>

                </div>
              </div>
            </a>
              <% } %>

            <% } else { %>

              <p>
                You don't have any loot!
              </p>

            <% } %>
          </div>
        </div>
      </div>

<% include common/footer/footer %>
