<% include common/header/header %>

        <div class="row">
          <div class="col-xs-4">
            <a href="/loot/add" class="btn btn-primary">Add loot</a>
          </div>
          <div class="col-xs-8 text-right">
            <form class="form-inline" action="/loot" method="GET">

              <div class="form-group">
                <select class="form-control" id="lootType" name="lootType">
                  <option value="">Loot type</option>
                  <% for (i in lootTypes) {  %>
                    <option value="<%= lootTypes[i] %>"><%= lootTypes[i] %></option>
                  <% } %>
                </select>
              </div>

              <div class="form-group">
                <select class="form-control" id="lootLevel" name="lootLevel">
                  <option value="">Loot level</option>
                  <% for (i in lootLevels) {  %>
                    <option value="<%= lootLevels[i] %>"><%= lootLevels[i] %></option>
                  <% } %>
                </select>
              </div>

                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Filter</button>
                  </div>
                </div>

            </form>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">

            <% if (loot.length > 0) { %>

              <% for (var i = 0; i < loot.length; i++) {  %>
              <a href="/loot/edit/<%= loot[i]._id %>">
              <div class="row lootItem <%= lootStatuses[loot[i].lootStatus] %>">
                <div class="col-xs-12">
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="panel
                      <% if (lootStatuses[loot[i].lootStatus] === 'Locked') { %>panel-danger<%} %>
                      <% if (lootStatuses[loot[i].lootStatus] === 'Unlocked') { %>panel-success<%} %>">
                        <div class="panel-heading">
                          <h3 class="panel-title">
                            <%= lootLevels[loot[i].lootLevel] %> <%= lootTypes[loot[i].lootType] %>
                            <span class="label label-info pull-right"><%= lootStatuses[loot[i].lootStatus] %></span>
                          </h3>
                        </div>
                        <div class="panel-body">
                          <div class="row">
                            <div class="col-xs-12">
                              <strong>Description</strong> <%= loot[i].description %>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-xs-12">
                              <strong>Location</strong> <%= loot[i].location %>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </a>
              <% } %>

            <% } else { %>

              <div class="alert">
                You don't have any loot!
              </div>

            <% } %>
          </div>
        </div>

<% include common/footer/footer %>
